footer{
	font-size: 14px;
}
.content{
	margin:100px 15%;
	width: 70%;
}
body{
	font-size: 16px;
}
p,.content li{
	margin-top: 10px;
	line-height: 26px;
}
ul{
	list-style: none;
}
.ti{
	text-indent:2em;
}
.title{
	font-size: 30px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;	
}
.titleh{
	text-align: right;
	margin-right: 140px;
	font-size:24px;
}
.guide{
	font-size:20px;
	margin-top: 20px;
}
.guideitem{
	font-size:18px;
	margin-top: 25px;
}
@media(max-width: 480px){
	.content{
		width: 90%;
		margin:100px 5%;
	}
	.titleh{
		margin-right: 0;
	}
}